@use "../partials/functions" as f;
@use "../partials/mixins" as m;

.bioCard {
	width: f.rem(320);
	border-radius: f.rem(16);
	padding: f.rem(32);
	background-color: var(--darkBlue);
	color: var(--lightBlue);
	text-align: center;
	position: relative;
	overflow: hidden;
	@include m.flexbox(column, nowrap, flex-start, stretch);
	&__header {
		position: absolute;
		top: f.rem(16);
		left: f.rem(16);
		right: f.rem(16);
		@include m.flexbox(row, nowrap, flex-end, center);
	}

	&__img {
		@include m.roundImage(50rem);
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center;
		width: f.rem(176);
		align-self: center;
		margin-bottom: f.rem(24);
		filter: saturate(0);
	}
	&__h1 {
		@include m.textGradient(bottom, var(--pink), var(--orange));
		font-size: f.rem(24);
		line-height: 1;
		margin-top: 0;
		margin-bottom: f.rem(12);
	}
	&__h2 {
		font-size: f.rem(20);
		font-weight: 400;
		line-height: 1;
		margin-top: 0;
		margin-bottom: f.rem(24);
	}

	&__hr {
		margin-top: 0;
		margin-bottom: f.rem(16);
		border-color: var(--lightBlue);
	}

	&__p {
		margin-top: 0;
		margin-bottom: f.rem(56);
		line-height: normal;
	}

	&__footer {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: f.rem(-32);
			left: f.rem(-32);
			right: f.rem(-32);
			bottom: f.rem(-62);
			background: linear-gradient(-187deg, var(--orange) 0%, var(--pink) 60%);
			transform: skewY(7deg);
		}
	}

	&__ul {
		position: relative;
		@include m.resetList;
		@include m.flexbox(row, wrap, center, center, f.rem(24));
	}

	&__a {
		width: f.rem(32);
		height: f.rem(32);
		@include m.pillButton(var(--white), var(--pink), false);
		&--alt {
			@include m.pillButton(
				linear-gradient(to bottom, var(--lightGreen) 0%, var(--darkGreen) 100%),
				var(--black),
				true
			);
		}
	}
}
